# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotenv
.env

# TypeScript
dist/
build/
*.tsbuildinfo

# Thunder Client
thunder-tests/

# IDE
.vscode/
.idea/
.DS_Store

# Coverage/test
coverage/
*.lcov

thunder_smart_maintenance_collection.json
